.nav-link {
  height: 50px;
  line-height: 50px;
  margin: auto 10px;
  text-align: center;
  color:gainsboro;
  text-decoration: none;
}

.nav-link:hover {
  color: white;
}

.chosen {
  color: wheat;
}
